SetEnvIf X-Forwarded-Proto https HTTPS=on
RewriteEngine On
RewriteBase /

RewriteRule ^([.]git|[.]github|sql|Dockerfile|getcontact-k8s[.]yaml|readme[.]md|LICENSE)(/|$) - [R=404,L]

RewriteRule ^src/.* index.php [L]

RewriteRule ^errors\.log$ index.php [L]

RewriteCond %{REQUEST_URI} \.htaccess
RewriteRule ^ - [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !^/index\.php
RewriteRule ^(.*)$ index.php/$1 [L]